@use 'styles/_vars.scss' as v;

.container {
    display: flex;
    height: 5.3rem;
    padding: 0 1.6rem;
    width: 100%;
    background: rgba(v.$bgDark, .3);
    backdrop-filter: blur(1.4rem);
    position: fixed;

    & > picture {
        min-width: 5.6rem;
        display: flex;
        align-items: center;

        img {
            width: 3.4rem;
        }
    }

    & > div:last-child {
        min-width: 5.6rem;
        display: flex;
        justify-content: end;

        button {
            width: 3.4rem;
        }
    }
}