.container {
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 9999px;
  height: 4.9rem;
  width: 4.9rem;
  border: 0.2rem solid #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.avatar + strong {
  margin-left: 0.8rem;
}
