.header {
  display: flex;
  padding: 0.8rem 1.6rem;
  justify-content: space-between;
}
.header button svg {
}

.div {
  width: auto;
}
.contianer {
  display: flex;
  padding: 0 1.6rem;
  width: 100%;
  align-items: flex-start;
}
.contianer > div:first-child {
  width: 7rem;
}

.contianer > div:last-child {
  width: 100%;
}

.textarea {
  border: 0.2rem solid transparent;
  padding: 1.5rem;
  font-size: 2.1rem;
  width: 100%;
  resize: none;
  min-height: 20rem;
  outline: 0;
  font-weight: 400;
  font-size: 2rem;
  transition: 0.2s all ease;
  border-radius: 1rem;
}
.textarea:focus {
  background: rgba(0, 0, 0, 0.1);
}
.imgContainer div {
  position: relative;
}
.imgContainer div button {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  border: 0;
  font-size: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 999rem;
}

.imgContainer img {
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

.Drag {
  background: rgba(0, 0, 0, 0.1);
  border: 0.2rem dashed rgb(47, 51, 54);
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section div:first-child {
  border-bottom: 0.1rem solid rgb(47, 51, 54);
  padding: 0.8rem;
  font-size: 1.4rem;
}
.section div:nth-child(2) {
  padding: 0.8rem;
}

.section ul {
  display: flex;
}
